.App {
  text-align: center;
}
.form {
  width: 72%;
  height: 30%;
  margin: 35px auto;
  background-color: grey;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1.5rem;
}
.form__author {
  display: block;
  margin: 5px 15px;
}

.author {
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 90%;
  border-radius: 15px;
  font-size: 2rem;
  padding-left: 10px;
}

.form__discription {
  display: block;
  margin: 10px;
}
.description {
  display: block;
  resize: none;
  margin: 10px auto;
  height: 150px;
  width: 90%;
  border-radius: 15px;
  font-size: 1.5rem;
  padding-left: 10px;
}
.form__btn {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: rgb(111, 205, 146);
}
.form__btn:hover {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: rgb(91, 29, 191);
}

.error {
  margin: 10px 15px;
  color: red;
  font-size: 1rem;
}
.error-api {
  display: flex;
  justify-content: center;
  color: red;
}

.load {
  display: flex;
  margin: 0 auto;
  height: 20%;
  width: 20%;
}
